body {
    background-color: black;
}

h1 {
    color: #fc7703;
}

.cor1 {
    background-color: #fc6203;
}
.direitos {
   display: flex;
   align-items: center;
   justify-content: center;
}

.direitos p {
    color: white;
    font-size: large;
}
